{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://blockstream.info/img/favicon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
    {% block title %}Block {{ info.0.0.height }}{% endblock %}
</title>
</head>
<body class="theme-dark" lang="en" dir="ltr">
<div id="explorer">
    <div class="explorer-container">
        <div class="content-wrap">
            <nav class="navbar navbar-dark navbar-expand-lg">
                <div class="container"><a class="navbar-brand" href="/"></a>
                    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse"
                            data-target="#navbar-menu"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item active"><a class="nav-link" href="/"
                                                           rel="external">Pitcoin</a></li>
                            <li class="nav-item "><a class="nav-link" href="/wallet"
                                                     rel="external">Wallet</a></li>
                            <li class="nav-item "><a class="nav-link" href="/mine"
                                                     rel="external">Mine</a></li>
                            <li class="nav-item nav-toggler">
                                <div class="nav-bar_moon_icon toggle-theme"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                <div class="jumbotron jumbotron-fluid block-page">
                    <div class="container">
                        <form action="/search/" method="post" class="search form-inline ml-auto">
                            {% csrf_token %}
                            {{ form }}
                            <div class="search-bar page-search-bar"><input class="form-control search-bar-input"
                                                                           type="search" name="q"
                                                                           placeholder="Search for block height or transaction"
                                                                           autocomplete="off" aria-label="Search">
                                <button class="search-bar-submit" type="image"></button>
                            </div>
                        </form>
                        <div><h1 class="block-header-title">Block {{ info.0.0.height}}</h1>
                            <div class="block-hash"><span>{{ info.0.4.block_hash}}</span>
                                <div class="code-button">
                                    <div class="code-button-btn" role="button"
                                         data-clipboard-copy="0000000000000000000cf25fbf3263bd7ac7a4ad1347eb62cec202fca25ebf8f"></div>
                                </div>
                            </div>
                            <div class="prev-next-blocks-btns">
                                {% if info.0.10.prev_block <= 0 %}
                                <div>
                                    <a href="/block/1">
                                        <div>
                                            <div>
                                                <div class="arrow-prev"></div>
                                            </div>
                                            <div><span>Previous</span></div>
                                        </div>
                                    </a></div>
                                    {% else %}
                                    <div>
                                        <a href="/block/{{ info.0.10.prev_block }}">
                                            <div>
                                                <div>
                                                    <div class="arrow-prev"></div>
                                                </div>
                                                <div><span>Previous</span></div>
                                            </div>
                                        </a></div>
                                    {% endif %}
                                    {% if info.0.11.next_block > max %}
                                    <div>
                                        <a href="/block/{{ max }}">
                                            <div>
                                                <div>
                                                    <div class="arrow-next"></div>
                                                </div>
                                                <div style="display: flex;"><span style="margin-left: -25px; margin-top: 8px">Next</span><img style="margin-left: 25px; margin-top: 2px" src="/static/css/img/icons/arrow_right_blu.png" alt=""></div>
                                            </div>
                                        </a>
                                    </div>
                                    {% else %}
                                    <div>
                                        <a href="/block/{{ info.0.11.next_block }}">
                                            <div>
                                                <div>
                                                    <div class="arrow-next"></div>
                                                </div>
                                                <div style="display: flex;"><span style="margin-left: -25px; margin-top: 8px">Next</span><img style="margin-left: 25px; margin-top: 2px" src="/static/css/img/icons/arrow_right_blu.png" alt=""></div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="block-stats-table">
                        <div>
                            <div>Height</div>
                            <div>
                                <a href='/block/{{ info.0.0.height}}'>{{ info.0.0.height}}</a>
                            </div>
                        </div>
                        <div>
                            <div>Previous block hash</div>
                            <div>{{ info.0.8.previous_block_hash }}</div>
                        </div>
                        <div>
                            <div>Timestamp</div>
                            <div>{{ info.0.1.datetime }}</div>
                        </div>
                        <div>
                            <div>Timestamp</div>
                            <div>{{ info.0.5.version }}</div>
                        </div>
                        <div>
                            <div>Merkle root</div>
                            <div>{{ info.0.6.merkle }}</div>
                        </div>
                        <div>
                            <div>Nonce</div>
                            <div>{{ info.0.7.nonce }}</div>
                        </div>
                    </div>
                    <div class="transactions"><h3>{{ info.0.9.tx_number}} of {{ info.0.9.tx_number}} Transactions</h3>


                        {% for information in info.1 %}
                        <div id="{{ information.3.tx_hash }}" class="transaction-box">
                            <div class="header">
                                <div class="txn"><a
                                        href="/tx/{{ information.3.tx_hash }}">{{ information.3.tx_hash }}</a>
                                </div>
                                <div class="details-btn" data-toggle-tx="{{ information.3.tx_hash }}" onclick="toggleDown(event);">
                                    <div role="button" tabindex="0">
                                        <div >Details</div>
                                        <div><img id="" style="margin-right: 20px" alt="" src="{% static 'css/img/icons/plus.svg' %}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ins-and-outs">
                                <div class="vins">
                                    <div class="vin">
                                        <div class="vin-header">
                                            <div class="vin-header-container"><span><a
                                                    href="" onclick="return false;">{{ information.0.prev_output }}:{{ information.1.outpoint }}</a></span>
                                            </div>
                                        </div>
                                        <div data-test="{{ information.3.tx_hash }}" style="display: none" class="vin-body">
                                                <div class="vin-body-row">
                                                    <div>Outpoint</div>
                                                    <div>{{ information.0.prev_output }}:{{ information.1.outpoint }}</div>
                                                </div>
                                                <div class="vin-body-row">
                                                    <div>Sequence</div>
                                                    <div>{{ information.2.sequence }}</div>
                                                </div>
                                                <div class="vin-body-row">
                                                    <div>Send from</div>
                                                    <div>{{ information.4.send_from }}</div>
                                                </div>
                                                <div class="vin-body-row">
                                                    <div>Sigscript (hex)</div>
                                                    <div>{{ information.6.sigscript }}</div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ins-and-outs_spacer">
                                    <div class="direction-arrow-container">
                                        <div class="direction-arrow"></div>
                                    </div>
                                </div>
                                <div class="vouts">
                                    {% for i in information %}
                                    {% for a in i.outputs %}
                                    <div class="vout">
                                        <div class="vout-header">
                                            <div class="vout-header-container"><span><a
                                                    href="/wallet/info/{{ a.2.send_to }}">{{ a.2.send_to }}</a></span><span
                                                    class="amount">{{ a.3.value }} BTC</span></div>
                                        </div>
                                        <div data-test="{{ information.3.tx_hash }}"style="display: none" class="vout-body">
                                                <div class="vout-body-row">
                                                    <div>Type</div>
                                                    <div>{{ a.0.type }}</div>
                                                </div>
                                                <div class="vout-body-row">
                                                    <div>Scriptpubkey (hex)</div>
                                                    <div>{{ a.1.scriptpubkey_hex }}</div>
                                                </div>
                                            <div class="vout-body-row">
                                                    <div>Recipient</div>
                                                    <div>{{ a.2.send_to }}</div>
                                                </div>
                                        </div>
                                    </div>
                                    {% endfor%}
                                    {% endfor%}
                                </div>
                            </div>
                            {% for i in information %}
                            {% for a in i.outputs %}
                            {% if forloop.last %}
                            <div class="footer">
                                <div></div>
                                <div></div>
                                <div><span> </span><span class="amount">{{ a.4.total_amount }} BTC</span></div>
                            </div>
                            {% endif %}
                            {% endfor%}
                            {% endfor%}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
<footer class="footer">
    <div class="container">
        <div class="footer-logo"></div>
        <div class="footer_container_content">
            <div class="footer_container_content_row">
                <div class="footer_container_content_row_social-media_container"><a
                        class="footer_container_content_row_social-media_link"
                        href="https://www.facebook.com/vsarapin/" target="_blank"><img
                        class="footer_container_content_row_social-media_item" alt=""
                        src="{% static 'f1b_blue.png' %}"></a><a
                        class="footer_container_content_row_social-media_link"
                        href="https://github.com/vsarapin" target="_blank"><img
                        class="footer_container_content_row_social-media_item" alt=""
                        src="{% static 'github_blue.png' %}"></a></div>
                <div class="footer_container_content_copyright">© 2019 Vitalii Sarapin. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function toggleDown(e) {
        let id = e.path[4].id;
        let img = e.path[2].children[0].children[1].firstChild;
        let hiddenElements = $('[data-test="' + id + '\"]');
        if ($(img).attr('src') === "/static/css/img/icons/plus.svg") {
            Object.keys(hiddenElements).map(function (index, item) {
                if (hiddenElements[item]) {
                    $(hiddenElements[item]).slideDown('slow');
                }
            });
            $(img).attr('src', '/static/css/img/icons/minus.svg');
        }
        else {
           Object.keys(hiddenElements).map(function (index, item) {
                if (hiddenElements[item]) {
                     $(hiddenElements[item]).slideUp('slow');
                }
            });
            $(img).attr('src', "{% static 'css/img/icons/plus.svg' %}");
        }
    }
</script>